<!--Pie de página-->
<footer class="piePagina">
  <p>Siguenos en nuestras redes:</p>
  <div class="redesSociales">
    <a href="">
      <img src="/imagenes/imagenesInicio/Contenido/piePagina/intagramFithub.png" alt="icono Instagram" />
    </a>
    <a href="">
      <img src="/imagenes/imagenesInicio/Contenido/piePagina/tiktokFithub.png" alt="icono Tik Tok" />
    </a>
    <a href="">
      <img src="/imagenes/imagenesInicio/Contenido/piePagina/xFithub.png" alt="icono X" />
    </a>
    <a href="">
      <img src="/imagenes/imagenesInicio/Contenido/piePagina/facebookFithub.png" alt="icono Facebook" />
    </a>
  </div>
  <div class="contacto">
    <p>Contacta con nosotros:</p>
    <a href="#">
      <img src="/imagenes/imagenesInicio/Contenido/piePagina/gmailFithub.png" alt="imagen de Gmail" />
    </a>
    <a href="">981762307</a>
  </div>
  <div class="terminos">
    <table>
      <tbody>
        <tr>
          <th>SERVICIO E INFORMACIÓN</th>
        </tr>
        <tr>
          <td>Atención al cliente</td>
          <td>Reglamento interno</td>
        </tr>
        <tr>
          <td>Horario de apertura</td>
          <td>Embajadores</td>
        </tr>
        <tr>
          <td>Condiciones de los eventos y concursos</td>
          <td>Apuntar a un amigo</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr>
        <th>ACERCA DE FITHUB</th>
      </tr>
      <tr>
        <td>Acerca de FitHub</td>
        <td>FitHub Corporate</td>
      </tr>
      <tr>
        <td>Colaboraciones</td>
        <td>Nuestra visión sostenible</td>
      </tr>
    </tbody>
    </table>
  </div>
</footer>