<!--Datos de interes para el usuario-->
<section class="contenido">

<!--Deportes-->
<section class="deportes">
  <h2>Deportes de nuestro gimnasio</h2>
  <div class="contendoresDeportes">
    
    <div id="contenedorJiujitsu" class="tarjetaDeporte">
      <h3>Jiu-Jitsu</h3>
      <img src="/imagenes/imagenesInicio/Contenido/deportes/Actividades_jiu-jitsu.jpg" alt="Imagen sobre Jiu-Jitsu" />
      <p for="jiu">
        Aprende técnicas de defensa personal, control y sumisión en un entorno seguro con instructores certificados.
      </p>
      <button class="botonDeporte">Prueba Ahora</button>
    </div>

    <div id="contendorBoxeo" class="tarjetaDeporte">
       <h3>Boxeo</h3>
      <img src="/imagenes/imagenesInicio/Contenido/deportes/Actividades_boxeo.jpg" alt="Imagen sobre boxeo" />
      <p for="boxeo">
        Mejora tu fuerza, velocidad y coordinación mientras dominas el arte del ring.
      </p>
     <button class="botonDeporte">Prueba Ahora</button>
    </div>
  
    
    <div id="contendorPower" class="tarjetaDeporte">
      <h3>Powerlifting</h3>
      <img src="/imagenes/imagenesInicio/Contenido/deportes/Actividades_powerlifting.jpg"
        alt="Imagen sobre Powerlifting" />
      <p for="power">
        Supera tus límites con un enfoque en los tres grandes: sentadilla, press de banca y peso muerto.
      </p>
      <button class="botonDeporte">Prueba Ahora</button>
    </div>
   
    <div id="contenedorMMA" class="tarjetaDeporte">
       <h3>MMA</h3>
      <img src="/imagenes/imagenesInicio/Contenido/deportes/Actividades_mma.jpg" alt="Imagen sobre mma" />
      <p for="mma">
        Entrena como un profesional combinando boxeo, lucha, grappling y striking en sesiones dinámicas.
      </p>
      <button class="botonDeporte">Prueba Ahora</button>
    </div> 
  </div>
</section>

<!--Buscar el gimnasio-->
<section class="buscarGym">
  <div class="mapa">
    <h2>¿Donde puedes encontrarnos?</h2>
    <div class="iframe-container">
      <iframe id="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.361005790835!2d-8.246963414052113!3d43.50712879138837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2dd896784ea515%3A0x57bb4d32efd82f79!2sSantuario%20de%20Nosa%20Se%C3%B1ora%20de%20Chamorro%2C%20CP-3601%2C%20299%2C%2015405%20Ferrol%2C%20La%20Coru%C3%B1a!5e0!3m2!1ses!2ses!4v1731845250444!5m2!1ses!2ses"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<!--Informacion sobre la historia y datos de FitHub-->
<section class="infoFithub">
  <h2>Conoce FitHub</h2>
  <div class="textoInfo">
    <img src="/imagenes/imagenesInicio/Contenido/infoFithub/fotoInfoConoceFitHub.jpg" alt="imagen peso muerto" />
    <p id="texto" class="texto">
      FitHub es una página web que permite a los usuarios registrarse en el
      gimnasio,acceso a la tienda en linea en la que encontrarán alimentos y
      accesorios. En el caso de estar subscrito podrán apuntarse a los
      eventos y deportes como Jiu-Jitsu,boxeo,entre otros. Tambien tendrá
      acceso a las opciones para calcular las calorías de comidas y
      organizar y planificar sus entrenos con opción de usar una IA.
    </p>

  </div>
</section>