/* Estilos principales para el contenido */
.contenido {
    display: flex;
    flex-direction: column;
    background-color: #260202;
    box-shadow: 0 0 10px rgba(249, 0, 0, 0.7);
    margin: 10px;
    margin-top: 145px;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.contenido>*{
    margin-bottom:1rem ;
}

/* Estilo del formulario */
.formulario {
    background-color: #260202;
    box-shadow: 0 0 10px rgba(249, 0, 0, 0.7);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

/* Estilo para la imagen de login */
#imagenLogin {
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: #140101;
    display: flex;
    justify-content: center;
}

/* Estilos para inputs y selects en el formulario */
form input,
form select {
    padding: 8px;
    border: 2px solid rgba(107, 1, 1, 0.644);
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para los botones */
button {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgba(202, 4, 4, 0.644);
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

button:hover {
    transition: 0.4s;
    background-color: rgba(133, 2, 2, 0.644);
    border-color: rgb(184, 181, 181);
    cursor: pointer;
}

/* Estilo para los mensajes de error */
.errores {
    color: #ff6666;
    font-size: 14px;
}

/* Estilo para mostrar los usuarios */
.mostrarUsuarios {
    display: flex;
    flex-direction: column;
    background-color: #260202;
    box-shadow: 0 0 10px rgba(249, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

/* Estilo para la lista de usuarios */
.usuarios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Estilo de las tarjetas de usuario */
.tarjeta {
    background-color: #1b0101;
    border-radius: 10px;
    margin: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(75, 1, 1, 0.7);
}

/* Línea del formulario */
.campo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Opcional para espaciar cada fila */
    margin: 8px 0;
}

/* Estilo de los labels */
.campo label {
    color: white;
    font-size: 18px;
    width: 40%;        /* ancho controlado del label */
    text-align: left;  /* alineación del texto */
}

/* Inputs alineados */
.campo input {
    width: 55%;
}


/* Responsividad para pantallas pequeñas (móviles) */
@media screen and (max-width: 1040px) {
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 16px;
    }

    form {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    /* Ajuste de las tarjetas de usuario en pantallas muy pequeñas */
    .usuarios {
        grid-template-columns: 1fr; /* 1 tarjeta por fila */
    }

    .tarjeta {
        width: 90%; /* Ajusta el ancho de las tarjetas */
        margin: 10px 0;
    }
}
