<div class="contenido">
    <h1>CREA TU CUENTA EN FITHUB</h1>
    <h3>Regístrate para acceder a todas las ventajas como miembro</h3>

    <div class="formulario">
        <div id="imagenLogin">
            <img src="/imagenes/imagenesAcceder/loginFithub.png" alt="Imagen de registro">
        </div>

        <!-- Mensaje de error -->
        <div *ngIf="errorSesion" class="errores">
            <p>Debes completar correctamente todos los campos del formulario</p>
        </div>

        <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)">

            <!-- NOMBRE -->
            <div class="campo">
                <label>Nombre:</label>
                <input type="text" formControlName="name">
            </div>
            <div *ngIf="campoName?.touched && campoName?.invalid" class="errores">
                <p>El nombre es obligatorio.</p>
            </div>

            <!-- EMAIL -->
            <div class="campo">
                <label>Email:</label>
                <input type="email" formControlName="email">
            </div>
            <div *ngIf="campoEmail?.touched && campoEmail?.invalid" class="errores">
                <p>Debe introducir un email válido.</p>
            </div>

            <!-- CONTRASEÑA -->
            <div class="campo">
                <label>Contraseña:</label>
                <input type="password" formControlName="password">
            </div>
            <div *ngIf="campoPassword?.touched && campoPassword?.invalid" class="errores">
                <p>La contraseña es obligatoria y debe tener mínimo 6 caracteres.</p>
            </div>

            <!-- APELLIDO -->
            <div class="campo">
                <label>Apellido:</label>
                <input type="text" formControlName="apellido">
            </div>

            <!-- TELEFONO -->
            <div class="campo">
                <label>Teléfono:</label>
                <input type="text" formControlName="telefono">
            </div>

            <!-- DIRECCIÓN -->
            <div class="campo">
                <label>Dirección:</label>
                <input type="text" formControlName="direccion">
            </div>

            <!-- HOBBY -->
            <div class="campo">
                <label>Hobby:</label>
                <input type="text" formControlName="hobby">
            </div>

            <!-- Botones -->
            <button type="submit">Registrarse</button>
            <button [routerLink]="['/login']">Iniciar sesión</button>
            <button [routerLink]="['/inicio']">Cancelar</button>

        </form>

    </div>
</div>