/*Estilo del cuerpo*/
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;

}

h2 {
  text-align: center;
}

p {
  font-size: 18px;
}

/* Refuerzo en títulos por si acaso */
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: aliceblue;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 46px;
  color: aliceblue;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 46px;
  color: aliceblue;
}
