 <!--Contenido de tarifas-->
  <section class="planesFithub">
    <div class="tarjetasTarifas">
      <div id="primerPlan" class="tarjeta">
        <h2>Dain</h2>
        <img class="imagenTarifa" src="/imagenes/imagenesTarifas/planDain.jpg" alt="Cuervo Dain" />
        <p>Acceso a:</p>
        <ol>
          <li>Gimnasio,</li>
          <li>Tienda</li>
        </ol>
        <p>25€</p>
        <button>Apuntarse</button>
      </div>

      <div id="segundoPlan" class="tarjeta">
        <h2>Fenrir</h2>
        <img class="imagenTarifa" src="/imagenes/imagenesTarifas/planFenrir.jpg" alt="Perro Fenrir" />
        <p>Acceso a:</p>
        <ol>
          <li>Gimnasio,</li>
          <li>Tienda</li>
        </ol>
        <p>Ventajas: </p>
        <ol>
          <li>10 invitaciones,</li>
          <li>Eventos gratuitos</li>
        </ol>
        <p>35€</p>
        <button>Apuntarse</button>
      </div>

      <div id="tercerPlan" class="tarjeta">
        <h2>Gullinbursti</h2>
        <img class="imagenTarifa" src="/imagenes/imagenesTarifas/planGullinbursti.jpg" alt="" />
        <p>Acceso:</p>
        <ol>
          <li>Gimnasio,</li>
          <li>Tienda</li>
        </ol>
        <p>Ventajas: </p>
        <ol>
          <li>Invitar a un amigo ,</li>
          <li>Eventos,</li>
          <li>Deportes</li>
        </ol>
        <p>45€</p>
        <button>Apuntarse</button>
      </div>
    </div>
  </section>